body {
    padding: 2%;
    background-color: #7dd8dc;
}

#heading {
    font-family: "Pacifico", cursive;
    color: white;
    font-size: 40pt;
}

#days-remaining-count-card {
    font-family: "Neucha", cursive;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.788);
    padding: 5%;
    /* height: 300px; */
    border-radius: 30px;
}

#days-count {
    font-size: 50pt;
    display: block;
}

.time-count {
    font-size: 40pt;
    display: block;
}

#days-div {
    display: block;
}

.time-div {
    display: inline-block;
    text-align: center;
    height: 100px;
    width: 100px;
    margin: 10px;
}

.neucha {
    font-family: "Neucha", cursive;
}

.pt-20 {
    font-size: 20pt;
}


#motivation-img {
    position: absolute;
    top: 0;
    right: 0;
}

#forest-img {
    position: absolute;
    bottom: 0;
    left: 0;
}

#forest-img img {
    width: 100vw;
    opacity: 0.08;
    z-index: -7;
}

#motivation-img img {
    height: 100vh;
    z-index: -5;
}

#success-quote {
    /* margin: 5%; */
    font-size: 40pt;
    color: white;
    font-family: 'Bangers', cursive;
    text-align: center;
}